.Header {
  display: flex;
  height: 100px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.Header input {
  width: 300px;
  height: 100%;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}