.Tier {
  --size: 100px;
  background: black;
  border: 1px solid black;
  display: flex;
  height: var(--size);
  width: 100%;
  flex-wrap: wrap;
}

.Tier header {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: var(--size);
  justify-content: center;
  width: calc(var(--size) * 2);
}

.Tier article {
  align-items: center;
  display: flex;
  font-weight: bold;
  height: var(--size);
  justify-content: center;
  position: relative;
  width: var(--size);
}

.Tier article img {
  display: block;
  height: 100%;
  width: 100%;
}

.Tier [data-tier=A] {
  background-color: red;
}
.Tier [data-tier=B] {
  background-color: orange;
}
.Tier [data-tier=C] {
  background-color: yellow;
}
.Tier [data-tier=D] {
  background-color: greenyellow;
}
.TierHighlighted {
  background-color: #222;
}
