/**
 * General
 **/

.Box {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  box-shadow: 4px 4px black;
  margin: 20px;
  padding: 20px;
}
.Title {
  font-size: 50px;
  text-align: center;
  border-bottom: 2px solid black;
  padding: 0 0 20px 0;
  margin: 0 0 20px 0;
}

/**
 * Ranking
 **/

.List {
  list-style: none;
}
.ListItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 10px 0;
  padding: 0 0 0 100px;
  height: 50px;
}
.Emoji {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Emoji img {
  width: 100%;
  height: 100%;
}

.ListItem[data-ranking="0"] {
  font-weight: bold;
  font-size: 60px;
}
.ListItem[data-ranking="1"] {
  font-weight: bold;
  font-size: 50px;
}
.ListItem[data-ranking="2"] {
  font-weight: bold;
  font-size: 40px;
}
.ListItem[data-ranking="3"] {
  font-weight: bold;
  font-size: 30px;
}

/**
 * Special Rules
 **/
.SpecialRule {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0 0 20px 0;
  font-size: 20px;
  align-items: center;
}
.SpecialImage::before {
  content: attr(title);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  color: white;
  background-color: #0004;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 4px 4px black;
}
.SpecialImage {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 20px 0 0;
}
.SpecialImage img {
  width: 100%;
  height: 100%;
}



.Details {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
/* .Header {
  display: flex;
  height: 100px;
}
.Header div {

  font-size: 40px;
  font-weight: bold;
  width: 20%;
  align-items: center;
  display: flex;
  justify-content: center;
} */
.A {
  background-color: red;
}
.B {
  background-color: orange;
}
.C {
  background-color: yellow;
}
.D {
  background-color: greenyellow;
}
.Row {
  display: flex;
  border: 1px solid red;
}
.Row img {
  width: 20%;
  aspect-ratio: 1/1;
}
.Row div {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  border: 1px solid black;
}